/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// @import "minima/fastpages-dracula-highlight";

.input_area pre {
  border-left: 5px solid lightcoral;
}
.output_area pre {
  border-left: 5px solid grey;
  margin-left: 1rem !important;
}

// mediumnok custom site-header
.site-header {
  border-top: 5px solid rgb(128, 86, 156);
  border-bottom: 1px solid #54008c;
  min-height: 55.95px;
  line-height: 54px;
  position: relative;
  background-color: #54008c;
}
.site-title {
  color: white;
  font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
}

.site-title,
.site-title:visited {
  // color: #fbff00;
  color: #fff;
}

.site-title:hover {
  color: #000000;
  background-color: #fff;
  text-decoration: none;
}

// Nav Heading
.site-nav .page-link {
  color: rgb(0, 0, 0);
  font-size: 14pt;
  font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
}

.site-nav .page-link:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  // .site-nav .page-link {
  //   color: rgb(11, 255, 52);
  //   font-size: 14pt;
  //   border-top: 5pt solid #54008c;
  //   border-bottom: 5pt solid #54008c;
  // }

  // Navgation headings
  .site-nav .page-link {
    color: #fff;
    font-size: 14pt;
    border-top: 5pt solid #54008c;
    border-bottom: 5pt solid #54008c;
    font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
  }

  .site-nav .page-link:hover {
    color: #000000;
    background-color: #fff;
    border-color: #fff;
    text-decoration: none;
  }
}

//
